.avatarUrl {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.revenue-drawer {
  .user-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-evenly;

    .item {
      display: flex;
      width: 160px;
      max-width: 160px;
      flex-direction: column;
      margin-bottom: 16px;

      .user {
        display: flex;
        align-items: center;
        height: 32px;
        width: 160px;
        img {
          width: 32px;
          height: 32px;
          display: block;
          border-radius: 50%;
          margin-right: 6px;
        }
        .name {
          height: 32px;
          line-height: 32px;
          width: 128px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .info {
        .count {
          font-size: 12px;
        }
      }
    }
  }
}
